
    *, *::before, *::after {
        box-sizing: border-box;
       
    }
    
    @import "./layout/base.scss";
    @import "./layout/header.scss";
    @import "./layout/main.scss";
    @import "./layout/reservation.scss";
    @import "./layout/fonctionnement.scss";
    @import "./layout/menu.scss";
    @import "./layout/footer.scss";
    @import "./page1/restaurant1.scss";
    @import "./page1/restaurants2.scss";
    @import "./page1/menu_page.scss";
  

    @media (max-width:559px){
 
      *, *::before, *::after {
        box-sizing: border-box;
       
    }
    .menu .cards .new{
      margin-left: 80%;
  }
    .menu_cards {
    flex-direction: column;
    }
    
    .img_page img{
      height: 300px;
    }

    .img_page2 img{
      height: 400px;
    }

    header #title_restaurant1{
      width: 40%;
    }

    #title_degustez1,#title_degustez2,#title_degustez3{
      font-size: 20px;
    }

    }
    
    
    @media (max-width:785px) and (min-width:560px){
 
      *, *::before, *::after {
        box-sizing: border-box;
       
    }
    @import "../mobile_tablette_modif/tablette.scss";

    .menu .cards .new{
      margin-left: 85%;
      margin-top: 2%;
  }

    }
        
    @media (max-width:785px) and (min-width:757px){
 
      *, *::before, *::after {
        box-sizing: border-box;
       
    }
    @import "../mobile_tablette_modif/tablette.scss";

    .menu .cards .new{
      margin-left: 85%;
      margin-top: 2%;
  }

    }

    @media (max-width:1000px) and (min-width:786px){

      *, *::before, *::after {
        box-sizing: border-box;
       
    }
      
      .menu .cards .new{
        margin-left: 50%;
        margin-top: 10%;
      }

    }

@media  (min-width:1000px) and (max-width:1299px){
 
  *, *::before, *::after {
    box-sizing: border-box;
   
}
.menu .cards .new {
  margin-left: 57%;
  margin-top: 5%;
}
}











  