.fonctionnement h3{
   margin-left: 20px;
   margin-bottom: 50px;
   font-size: xx-large;
}

.fonctionnement .fonct_1{
   display: flex;
   align-items: center;
   padding: 16px 32px;
   border: 1px solid white ;
   box-shadow: 2px 1px 8px 1px lightgrey; 
   border-radius: 16px;
   flex-grow: 1; 
   margin-right: 20px;
   margin-left: -5px;
   font-size: larger;
   width: 95%;
   height: 86px;
   background-color: #f6f6f6;
}

.fonctionnement.fonct{
   display: flex;
   flex-direction: column;
   gap: 27px;
   list-style-type: none;
   padding-left: 0px;
}

#number1,#number2,#number3{
display: flex;
flex-direction: row;
width: 100%;
align-items: center;
margin-bottom: 20px;
}

.fonctionnement span{
   display: flex;
   width: 26px;
   height: 26px;
   justify-content: center;
   align-items: center;
   background-color: #9356DC;
   color: white;
   border: 1px solid #9356DC;
   border-radius: 50%;
   margin-right: -7px;
   margin-left: 20px;
   z-index: 3;
   
}

#title_degustez{
  font-size: 25px;
}

.fonctionnement i{
   margin-right: 20px;
   font-size: x-large;
   color: grey;
}

i:hover{
  color: #9356DC;
}

#number3:hover .fas.fa-store{
  color: #9356DC !important;
}

#number1:hover .fas.fa-mobile-alt{
   color: #9356DC !important;
 }

 #number2:hover .fa-solid.fa-list{
   color: #9356DC !important;
 }

#title_degustez1,#title_degustez2,#title_degustez3{
  color: black;
  font-size: 20px;
}

.fonct_1:hover{
  background-color:	#E6E6FA;
}