footer {
    background-color: #353535;
    padding: 16px;
    h2{
        font-family: "Shrikhand", "sans-serif";
        color: white;
        font-weight: 500;
        margin-left: 20px;
    }
    p{
        color: white;
        margin-left: 12px;
    }
    i{
        padding: 8px;
       
    }
}